<h2> Written by <%= @play.playwright.name %> </h2>

<br>
  <p>Author: <%=@play.playwright.name %></p>
  <!-- add page to show playwrights and their plays -->
  <p>Genre: <%= @play.genre %></p>
  <p>Synopsis: <%= @play.synopsis %></p>
