<!doctype html>
<html>
  <head>
    <title>New Play</title>
    <style>
      .btn-new, .btn-menu {
        background-color: #ADD8E6;
        padding: 8px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4x;
        transition-duration: 0.4s;
      }
      .btn-new:hover, .btn-menu:hover {
        background-color: #0277bd;
        color: white;
      }
      hr.solid {
        border-top: 1px solid #bbb;
      }
      #menu {
        text-align: center;
      }
    </style>
  </head>
  <body>

    <h2>Add a new play.</h2>
    <br>
    <form action="/plays" method="POST">
      <p><label for="name">Name:</label>
      <input type="text" name="name" value=""></p>

      <p><label for="genre">Genre:</label>
      <input type="text" value="">

      <p><label for="synopsis">Synopsis:</label>
      <input type="text-area" value="">
      <br>
      <br>
      <input class= "btn-new" type= "submit" value="Add Play">
    </form>


    <div id="menu">
    <hr class="solid">
    <br>
    <a href="/plays"><button class="btn-menu">Home</button></a>
    <a href="/logout"><button class="btn-menu">Logout</button></a>
    </div>

</body>
</html>
