<!doctype html>
<html>
  <head>
    <title>New Play</title>
    <style>
      .btn-new {
        background-color: #ADD8E6;
        padding: 2px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4x;
        transition-duration: 0.4s;
      }
      .btn-new:hover {
        background-color: #0277bd;
        color: white;
      }
      hr.solid {
        border-top: 1px solid #bbb;
      }
      #new-menu {
        text-align: center;
      }
      .menu-btns {
        background-color: #C0C0C0;
        padding: 8px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4x;
        transition-duration: 0.4s;
      }
      .menu-btns:hover {
        background-color: #0277bd;
        color: white;
      }
    </style>
  </head>
  <body>

    <h2>Add a new play.</h2>
    <br>
    <form action="/plays" method="POST">
      <p><label for="name">Name:</label>
      <br>
      <input type="text" name="name" value=""></p>

      <p><label for="genre">Genre:</label>
      <br>
      <input type="text" name="genre" value=""></p>

      <p><label for="synopsis">Synopsis:</label>
      <br>
      <textarea id="synopsis" name="synopsis" value="" rows="4" cols="50"></textarea></p>

      <br>
      <br>
      <input class= "btn-new" type= "submit" value="Add Play">
    </form>


    <div id="new-menu">
      <hr class="solid">
      <br>
      <a href="/index"><button class="menu-btns">Home</button></a>
      <a href="/logout"><button class="menu-btns">Logout</button></a>
    </div>

  </body>
</html>
