<!doctype html>
<html>
  <head>
    <title>Playwrights</title>
    <style>
      hr.solid {
        border-top: 1px solid #bbb;
      }
      .playwright-link:link {
        color: #0277bd;
        background-color: transparent;
      }
      .playwright-link:visited  {
        color: #0277bd;
        background-color: transparent;
      }
      #all-menu {
        text-align: center;
      }
      .menu-btns {
        background-color: #C0C0C0;
        padding: 8px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4x;
        transition-duration: 0.4s;
      }
      .menu-btns:hover {
        background-color: #0277bd;
        color: white;
      }
    </style>
  </head>

  <body>
    <h2>Playwrights</h2>

    <h4> List of Playwrights </h4>
    <br>
    <ul>
      <% Playwright.all.each do |playwright| %>
      <a class="playwright-link" href="/playwrights/<%= playwright.id %>"><li><%= playwright.name %></li></a>
      <br>
      <% end %>
    </ul>

    <div id="all-menu">
      <hr class="solid">
      <br>
      <a class="button" href="/home"><button class="menu-btns">Home</button></a>
      <a class="button" href="/logout"><button class="menu-btns">Logout</button></a>
    </div>

  </body>
</html>
