<!doctype html>
<html>
  <head>
    <title>Welcome to The Dramatist Library</title>
    <style>
      .welcome {
        text-align: center;
      }
      .btns {
        background-color: #ADD8E6;
        padding: 8px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4x;
        transition-duration: 0.4s;
      }
      .btns:hover {
        background-color: #0277bd;
        color: white;
      }
      hr.solid {
        border-top: 1px solid #bbb;
      }
    </style>
  </head>
  <body>

    <h2>Share a play, read a play.</h2>

    <div class="welcome">
      <h4>Join today.</h4>
      <br>
      <!-- get buttons the same size -->
      <a class="button" href="/signup"><button class="btns">Signup</button></a>
      <a class="button" href="/login"><button class="btns">Login</button></a>
      <br>
    </div>

  </body>
</html>
